nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    transition: all 0.3s;
    background-color: transparent;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  .logo, .logo3 {
    height: 50px;
    transition: height 0.3s;
  }
  
  .scrolled .logo {
    height: 40px;
  }
  
  .navbar-menu ul {
    list-style: none;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 1rem;
    margin: 0;
    transition: background-color 0.3s, border-radius 0.3s;
  } 
  .navbar-menu ul li {
    margin: 0 1rem;
    position: relative;
  }
  
  .navbar-menu ul li:not(:first-child)::before {
    content: "\2022";
    color: rgb(51, 104, 198);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    left: -20px;
  }
  
  .navbar-menu ul li a {
    color: #031b4e;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 0.3px;
  }
  
  .navbar-menu ul li a:hover {
    color: rgb(51, 104, 198);
  }
  
  .donate-btn, .dashboard-btn {
    background-color: #0e2555;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  .donate-btn:hover, .dashboard-btn:hover {
    background-color: rgb(51, 104, 198);
  }
  
  .menu-toggle-btn {
    background: none;
    border: none;
    color: #0e2555;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; 
  }
  
  .navbar-container {
    width: 85%;
    margin: 0 auto;
  }
  
  .scrolled {
    background-color: white !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .scrolled .navbar-menu ul {
    background-color: white !important;
    border-radius: 0 !important;
  }
  
  .navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .donate-btn::after {
    content: 'Donate Now';
  }

  .active-link {
    color: rgb(51, 104, 198) !important;
    font-weight: bold; 
    
  }
  

 @media (max-width: 978px){

  .menu-toggle-btn{
    margin-right: 15px;
  } 
  .donate-btn::after {
    content: 'Donate';
  }
  .navbar-menu {
    display: none; 
  }
  .navbar-menu ul li::after {
    content: none; 
  }
 
 .menu-toggle-btn {
  display: block; 
  background: none;
  border: none;
  color: #0e2555;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-menu.open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-menu ul {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.navbar-menu ul li::after {
  content: none; 
}

.navbar-right {
  display: flex;
  flex: 1;
  justify-content: flex-end; 
  align-items: center;
}
.navbar-menu ul li:not(:first-child)::before {
  content: none;
}

 }
 

 @media (max-width: 768px) {
  
  .menu-toggle-btn{
    margin-right: 5px;
  } 
  .menu-toggle-btn{
    margin-left: 30px;
  }
  .navbar-menu {
    display: none; 
  }

  .menu-toggle-btn {
    display: block; 
    background: none;
    border: none;
    color: #0e2555;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .navbar-menu.open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .navbar-menu ul li::after {
    content: none; 
  }
 
  .navbar-right {
    display: flex;
    flex: 1;
    justify-content: flex-end; 
    align-items: center;
  }
  .logo, .logo3 {
    height: 30px; 
    transition: height 0.3s;
  }
  .donate-btn, .dashboard-btn {
    font-size: 0.8rem;
    padding: 1rem 2rem;
    margin-left: 10px;
  }
  .navbar-menu ul li:not(:first-child)::before {
    content: none;
  }
}

@media (max-width: 480px) {
  .navbar-container {
    width: 100%;
    margin: 0 auto;
  }
  .logo, .logo3 {
    height: 30px;
  }

  .navbar-menu ul li a {
    font-size: 12px;
  }

  .donate-btn, .dashboard-btn {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
  }
  .navbar-menu ul li::after {
    content: none; 
  }
  .navbar-menu ul li:not(:first-child)::before {
    content: none;
  }
} 
@media (max-width: 360px) {
  .navbar-container {
    width: 100%;
    margin: 0 auto;
  }
  .menu-toggle-btn{
    margin-left: 25px;
  }
   .logo3 {
    height: 25px !important;
  }
  .logo{
    height: 30px !important;
  }
  .navbar-menu ul li:not(:first-child)::before {
    content: none;
  }
} 




