
/*Footer.css-Starts*/
.footer {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
  
  .footer-container {
    text-align: start;
  }
  
  .main-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  @media (min-width: 1024px) {
    .main-columns {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .intro {
    text-align: start;
  }
  
  .intro p {
    color: #6e778c;
  }
  
  .navbar-toggler{
    margin-left: -100px;
    padding: 0;
  }
  
  .footer-logo {
    width: 250px;
    height: 55px;
  }
  
  .intro-text {
    padding: 30px 0 30px 0;
    font-size: 1.125rem;
    line-height: 1.75;
  }
  
  .info-section {
    padding: 0 30px 30px 0px;
  }
  
  .info-section h3 {
    margin-top: 0;
    color: #031b4e;
    font-size: 32px;
    line-height: 42px;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
  }
  
  .info-columns {
    padding: 30px 0 30px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  @media (min-width: 640px) {
    .info-columns {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .info h2,
  .address h2 {
    padding-bottom: 10px;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgb(51, 104, 197);
    text-transform: capitalize;
  }
  
  .info p,
  .address p {
    color: #6e778c;
    margin-bottom: 10px;
  }
  
  .social-media {
    display: flex;
    gap: 10px;
    margin-top: 25px;
  }
  
  .social-media a {
    width: 40px;
    height: 40px;
    color: #031b4e;
    line-height: 40px;
    text-align: center;
    /* opacity: 1; */
    font-size: 15px;
    /* display: inline-block; */
    border-radius: 50%;
    border: 1px solid #031b4e;
  }
  
  .social-media a:hover {
    color: #fff;
    background-color: #031b4e;
  }
  
  .footer-copyright {
    color: gray;
    padding: 20px 0 20px 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
  }
  
  .footer a {
    color: gray;
    text-decoration: none;
  }
  /*Footer.css-Ends*/